body {
  background-color: #F9F7F7;
}

main {
  background-color: #F9F7F7;
}

#text-output {
  min-height: 200px;
  border-radius: 3px;
  padding: 10px;
  word-wrap: break-word;
  text-align: left;
  color: whitesmoke;
}
#bold {
  font-weight: bold;
}
#italic {
  font-style: italic;
}
#underline {
  text-decoration: underline;
}
#text-input {
  min-height: 200px;
  text-align: left;
  color: whitesmoke;
}

.editor .col {
  max-width: 50%;
  flex-basis: 50%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

#row1 {
  background-color: #202222;
  margin: 0;
  padding-top: 1rem;
  border-top: 1px solid rgb(172, 172, 172);
}
button {
  margin-bottom: 1rem;
  margin-right: 7px;
}
h1 {
  margin: 0;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.8);
  color: white;
}




  
  
